[2014-07-28 22:42] k88hudson opened #2 "Add a note about git reflog"
This would be useful for "I have no idea what to do" or "I just forced pushed and everything is FUBAR" etc.

[2014-07-28 22:59] lennym opened #3 "Misleading colon"
The colon at the end of https://github.com/k88hudson/git-flight-rules/blame/master/README.md#L30 implies that running `git rebase -i master` is *how* you would ensure that `master` is up to date, where in fact there is an intermediate step which has been omitted.

Note: I would PR a fix for this, but I think my workflow here is subtly different to yours, so will leave it up to you to resolve how y

[2014-07-28 23:41] gesa opened #4 "Use git checkout --theirs or --ours . to resolve rebase conflicts"
I'd write this bit myself but I don't actually fully understand how it works. I generally go with guess and check. And then I (re-) read [this blog post](http://gitready.com/advanced/2009/02/25/keep-either-file-in-merge-conflicts.html) over and over and over and over again.

[2014-07-29 16:27] SteveEdson opened #6 "Mention the potential issues"
https://github.com/k88hudson/git-flight-rules#i-need-to-add-staged-changes-to-the-previous-commit

Sometimes, if the previous commit has already been pushed to the remote, making amendments can have strange effects, and cause errors when trying to push again.

Might be worth making a quick note of this?

[2014-07-29 16:46] ncolton opened #8 "--force vs --force-with-lease"
I prefer to use --force-with-lease as a little bit of protection to make sure I don't stomp on changes made by someone else between the last update against the remote and when I do a forced push.

It is a bit safer, but I'm curious as to what others think.

[2014-07-29 17:14] #6 closed, assigned to nobody

[2014-07-29 17:20] freddyb opened #10 "Missing TOC"
A table of content would be nice, so you could read through possible sections if you're looking for a specific solution.
.
You could create a TOC manually, by observing the current README and linking to the headlines that github creates, e.g.
[What are flight rules](https://github.com/k88hudson/git-flight-rules#what-are-flight-rules)
[Conventions for this document](https://github.com/k88hudson/git

[2014-08-14 13:39] opinxit opened #20 "The dangers of git push -f and amended commits should be highlighted"
If you've already pushed a commit that you want to amend (and you're not the only developer using the repo), it is best to create a new commit and push that as per usual, rather than amending and force-pushing that amended commit as it has the potential to mess with the shared history.

[2014-08-22 20:33] unixorn opened #26 "Show how to add command aliases"
Show example of adding command aliases

[2014-08-24 13:51] konrado0905 opened #30 "Update previus commit (HEAD^) from another branch"
# Example:

### master branch:

### I'm creating new branch from master:
$ git co -b branch-1
$ touch second
$ git add second
$ git commit -m "Second commit"

### I'm creating new branch from branch-1:
$ git co -b branch-2
$ touch third
$ git add third
$ git commit -m "Third commit"
$ git log

### I go back to branch-1:
$ git co branch-1
$ touch second-2
$ git add second-2
$ git commit --amend
$ g

[2014-09-16 13:03] davidmatas opened #33 "reset without `--hard`"
In `I committed to master instead of a new branch` section, is not better to do the reset without `--hard`?

`--hard` flag will destroy all the changes you made for the commit you want to recover in other branch so I think it is better to user without `--hard` to leave the changes unstaged.

[2014-12-07 22:02] unixorn opened #37 "Noticed there's a backlog of PRs"
I noticed there is a backlog of fairly old PRs when I was cleaning up my own PR list. Would you like some help triaging & merging them?

[2015-01-06 00:02] webmaven commented on #37
I volunteer as well.

[2015-03-07 18:42] RichardLitt opened #40 "Resource: common git screwups and solutions post"
These should be added in.

http://41j.com/blog/2015/02/common-git-screwupsquestions-solutions/

[2015-03-14 17:24] RichardLitt commented on #33
`git branch newbranch` saves those commits for you, so that they aren't lost. Just tested this, worked as expected and described.

[2015-03-14 17:24] #33 closed

[2015-03-14 18:05] RichardLitt commented on #3
Hey @lennym, thanks. I'll remove that colon.

Do you want to add in a section with your workflow? It would be appreciated.

[2015-03-21 02:18] RichardLitt commented on #37
Backlog is being sorted. Closing this.

[2015-03-21 02:18] #37 closed

[2015-03-21 02:19] RichardLitt commented on #10
Using Doctoc, seems to work.

[2015-03-21 02:19] #10 closed

[2015-03-27 00:15] #26 closed

[2015-04-21 07:34] RichardLitt opened #54 "Resource: FirstAidGit.io"
My friend @magalhini made this, and I think we should somehow integrate it into git-flight-rules, or possible populate git-flight-rules with questions asked there which he can't answer.

[2015-05-19 06:34] RichardLitt opened #59 "Resource: Git Workflow"
This is a nice tutorial. Would be good to put this somewhere.
https://github.com/asmeurer/git-workflow

[2015-05-19 17:22] RichardLitt opened #62 "Restructure document"
So, we're now - for the first time? - without any open PRs. I think we should rearrange the document. Currently, there aren't any real categories, and it's not clear how anything is structured or what to do beyond randomly ctrl+f for stuff.

What do you think?

[2015-05-19 17:43] unixorn commented on #62
+1.

I just added a PR that adds an "Other Resources" section at the end before reading this.

[2015-05-19 17:45] #59 closed

[2015-05-21 05:39] RichardLitt commented on #3
@lennym feel free to make a PR for your workflow, we'd appreciate it. I'm going to close this now as the issue is resolved. Thanks!

[2015-05-21 05:39] #3 closed

[2015-05-22 02:16] #54 closed

[2015-08-18 19:30] RichardLitt opened #76 "Standardise bash prompt"
Currently, not all prompts are the same: some are `(my-branch*)$`, `$`, `(master) $`, or nothing. All of them should have a branch name only if the branch is relevant, an `*` only if there are staged changes which are relevant, and a `$` by default.

[2015-08-18 20:05] RichardLitt commented on #40
Got all the way to "Remove all local untracked files (and directories) from your local clone." Going to stop for now.

[2015-08-21 19:28] RichardLitt commented on #30
@konrado0905 I don't know if you're still interested in this problem, but the answer is simple:

[code]

Done.

Do you want us to add this to the document?

[2015-08-21 19:30] RichardLitt commented on #20
I feel this is sign posted enough. If anyone wants to add more, feel free.

[2015-08-21 19:30] #20 closed

[2015-08-25 18:38] RichardLitt commented on #2
Added! What do you think?

[2015-08-25 18:45] k88hudson commented on #2
Great! Love the humour ^_^

[2015-08-25 18:46] #2 closed

[2015-08-25 18:47] RichardLitt commented on #2
Woot!

[2015-08-30 07:00] konrado0905 commented on #30
If you think this is useful then go ahead

[2015-08-30 17:42] RichardLitt commented on #30
Cool. I'm not sure, it seems to be normal rebasing. I think we'll leave it out for now. Hope you understand it now!

[2015-08-30 17:42] #30 closed

[2015-09-03 19:50] #76 closed

[2015-09-03 20:52] RichardLitt opened #85 "Expand the explanation of amend to include actual file changes"
Cf https://github.com/k88hudson/git-flight-rules/pull/77#issuecomment-137560364

[2015-09-27 15:46] #62 closed

[2015-09-30 02:17] RichardLitt opened #90 "Incorporate Git Cheatsheet?"
[This cheatsheet from GitHub](https://education.github.com/git-cheat-sheet-education.pdf)

[2015-10-30 17:34] RichardLitt commented on #85
I wrote a blog post on how to do this, here: http://burntfen.com/2015-10-30/how-to-amend-a-commit-on-a-github-pull-request/. Maybe we should incorporate this?

[2016-02-19 01:55] RichardLitt opened #97 ""Flight rules for git - a work in progress!""
Is this still a work in progress? Or can we just say "Flight Rules For Git?" :)

[2016-03-28 22:22] Trevoke commented on #90
I don't think that's worth it. People come to this repo when something has gone wrong and the cheat sheet can't help them.

[2016-06-05 07:27] RichardLitt commented on #90
Fair point.

Another resource: https://github.com/git-tips/tips

Still, could be written up as something to do when something goes wrong.

[2016-07-09 10:34] RichardLitt commented on #97
@k88hudson Are you still interested in maintaining this project?

[2016-07-28 17:46] RichardLitt commented on #90
Another resource: https://github.com/optionfactory/digit

[2017-10-07 14:33] RichardLitt commented on #97
@k88hudson Anual checkin. :)

[2017-11-06 00:59] thomasyimgit opened #107 "Add "checkout to a remote branch that someone else is working on""
Thanks @k88hudson for creating such a awesome project. It could possibly save my day in the future.

I found that the `"checkout to a remote branch that someone else is working on"` is missing in the `Branch` section. And I could open a PR soon about this topic. 😄

[2017-11-06 14:34] RichardLitt commented on #107
Thank you, @thomasyimgit! That worked great. :)

[2017-11-06 14:34] #107 closed

[2017-11-07 00:07] RichardLitt opened #112 "Add a License"
@k88hudson We should add a license at some point. cc0? cc-by-nc-sa 4.0?

[2017-11-07 00:58] k88hudson commented on #97
I don't mind doing reviews, but I feel like it's in a pretty good state right now :)

[2017-11-07 02:07] #112 closed

[2017-11-07 02:08] #97 closed

[2017-11-07 13:00] RichardLitt commented on #8
Does someone want to add a section about `--force-with-lease` to the README? That way, this information can be stored, and this ticket can be closed.

[2017-11-07 13:00] RichardLitt commented on #4
PRs would be great, if either or you (or anyone else) wants to take this on!

[2017-11-07 14:20] RichardLitt commented on #8
Closed in #117!

[2017-11-07 14:20] #8 closed

[2017-11-07 14:22] Alsanfor24 opened #118 "Hi"
How are you
I'm Laith Alsanfor24

[2017-11-07 14:25] #118 closed

[2017-11-08 16:10] vi opened #120 "Shall it recommend --force-with-lease instead of just `git push -f`?"

[2017-11-08 16:34] RichardLitt commented on #120
This looks like a duplicate of #8. If you have a specific PR to make to suggest this, go ahead and add it.

On another note, this really oughtn't to be a place for suggestions, but instead a list of flight rules - things which work to get you out of a bind, and actions which will help do the job in a minimum of effort. Sometimes, `push -f` is called for over `--force-with-lease`. Something to keep

[2017-11-09 14:57] RichardLitt commented on #90
In the time since I opened this issue, the cheatsheet has moved. I've updated it.

I think that some of these things are useful. For instance, "Supressing tracking" would be a good thing to have on this list. In total, I think that adding these items from the cheatsheet would take roughly 30 minutes.

[2017-11-09 16:48] k88hudson commented on #90
Having a section for common commands / common tasks is probably useful, even if the rest of the document is more focused on what to do when things go wrong.

[2017-11-13 03:45] icyflame opened #130 "Add the use cases for git-branch --set-upstream-to"
I just needed to find out how to set the upstream to a local branch and I couldn't find it here. It should probably be added here.

[2017-11-13 12:48] RichardLitt commented on #130
100%, @icyflame. Any chance you want to take a stab at it?

[2017-11-13 13:27] icyflame commented on #130
Hey @RichardLitt, I will try to write a patch for this soon. :smile:

[2017-11-13 17:36] amber-dao opened #132 "Make a PDF version?"
Might be a good idea to provide a link for a PDF download. Some folks like having backup files of stuff.

[2017-11-14 08:33] deiga commented on #132
@amber-dao You can just save the markdown file offline and it will still work. And any editor with markdown support should be able to show you the rendered version.

I would advocate against adding a build process to generate PDFs or other static files

[2017-11-14 09:03] piranna commented on #132
What about formatting it using GitBook?

[2017-11-14 12:39] eamanu commented on #132
I would like have a pdf version

[2017-11-14 12:47] deiga commented on #132
@eamanu Is there a specific reason for this prefernce?

[2017-11-14 12:51] deiga commented on #132
@piranna Good idea, for added readability, but irrelevant to this discussion as you can't save it offline

[2017-11-14 13:06] piranna commented on #132
In fact, GitBook is mostly oriented to build PDF books, online support is just a side effect...

[2017-11-14 13:41] deiga commented on #132
@piranna Apologies, that was my mistake. I didn't see that, since it's disabled by default

[2017-11-14 13:53] piranna commented on #132
Don't worry :-)

[2017-11-14 15:10] al-the-x opened #135 "Great Job!"
Not a feature request, not a bug report, just a pat on the back for executing well on a great idea. Well done, @k88hudson and all your contribs!

[2017-11-14 16:45] RichardLitt commented on #135
Thanks! :)

[2017-11-14 16:45] #135 closed

[2017-11-14 19:36] #4 closed

[2017-11-14 20:55] RichardLitt commented on #132
Some quick googling found this [Stack Overflow](https://stackoverflow.com/questions/9998337/how-to-print-from-github) question. You can easily print the document by selecting all of the text in Chrome, and then printing. Here is a printout:

[k88hudson_git-flight-rules_ Flight rules for git.pdf](https://github.com/k88hudson/git-flight-rules/files/1472482/k88hudson_git-flight-rules_.Flight.rules.fo

[2017-11-14 20:55] #132 closed

[2017-11-21 06:43] annmarielarue commented on #120
content://media/external/file/620

[2017-11-21 08:37] #120 closed

[2017-11-23 05:37] shubham171294 commented on #90
I have the cheat sheet. Can I share it?

[2017-11-23 11:28] eamanu commented on #90
The cheat sheet will be interest. I vote to put the cs in to some section.

[2017-11-23 15:07] xoco70 opened #150 "I want to discard my local, uncommitted changes"
It seems in this section, you discard commited change, or am I misunderstanding ?

[2017-11-23 15:30] RichardLitt commented on #150
Yes, I believe you are right there. https://github.com/k88hudson/git-flight-rules#i-want-to-discard-my-local-uncommitted-changes

It should follow these instructions, instead: https://stackoverflow.com/questions/14075581/git-undo-all-uncommitted-or-unsaved-changes

[2017-11-23 15:36] RichardLitt commented on #90
@shubham171294 I link it in the first issue. If you'd like to make some PRs and add it in, do so!

[2017-11-23 18:33] shubham171294 commented on #90
DONE. Please check.

[2017-11-26 00:58] annmarielarue commented on #120
I don't understand

[2017-11-27 18:18] tadeu opened #155 "Suggestion to improve "safety" when doing git operations"
First, I'd like to say that this is an awesome compilation of tasks/commands/problems, and it's very useful.

I'd like to suggest an improvement regarding the "safety" of git commands/operations. Newbies can be afraid of using more advanced things because of the "I'll lose my code" fear. There could be an introduction saying that git operations are generally safe, as long as _there are no dangling

[2017-11-27 18:19] RichardLitt commented on #155
I think that makes sense. It should be framed as an introduction to various rules. "Note: for the next few rules, there is no excuse for not backing up work first. Bla bla bla..."

Want to PR? Sounds like you know what you want to do pretty well.

[2017-11-27 20:44] #155 closed

[2017-11-30 05:46] hgautham commented on #150
Fixed in PR https://github.com/k88hudson/git-flight-rules/pull/160

[2017-11-30 21:28] #150 closed

[2017-12-02 20:29] qWici commented on #90
@RichardLitt, @k88hudson
I created two pdf files
1 - via [MarkdownToPDF](http://www.markdowntopdf.com/)
2 - via node module [markdown-pdf](https://www.npmjs.com/package/markdown-pdf)
We can make a vote. If the community says it's a good idea - you'll need to find or write your own auto-generator.

[README-via-markdowntopdf-com.pdf](https://github.com/k88hudson/git-flight-rules/files/1524059/README

[2017-12-02 20:30] RichardLitt commented on #90
Thanks @qWici  - I don't think that comment is part of this issue. Are you trying to follow up with #132?

[2017-12-02 20:53] qWici commented on #90
@RichardLitt Yes, I did not see this issue. The question is closed.

[2017-12-02 21:00] qWici opened #162 "Translation into other languages"
How about creating a project on [Crowdin ](https://crowdin.com/) and maintain the translation into other languages. We can choose several people who are fluent in some languages and who will follow the actuality of the translation. Because as I see the process of translating into Spanish is very slow #119

---
**UPD:**
If you want help with translation please follow [this guide](https://github.com

[2017-12-04 14:50] RichardLitt commented on #162
I don't have a budget for that - this is entirely volunteer work. I wouldn't want to put this on anyone else, either. Perhaps there is a free solution for GitHub that we could look into?

[2017-12-04 17:10] buslov commented on #162
There is [GitLocalize](https://gitlocalize.com). It have good integration with GitHub and it's free for public repos. I've tested it for my repo [GitHub](https://github.com/buslov/test) / [GitLocalize](https://gitlocalize.com/repo/568)

[2017-12-05 11:46] qWici commented on #162
@RichardLitt Hmm..interesting. Since this question is not urgent, volunteers can translate. Create a new project and leave a link here.

[2017-12-05 15:37] RichardLitt commented on #162
Looks like only @k88hudson can do this. :)

[2017-12-05 15:48] eamanu commented on #162
Sound very interest {(https://crowdin.com/)

[2017-12-08 08:27] sotayamashita commented on #162
@qWici Hi, I am engineer for GitLocalize. If you have any question. Please feel free to ask me.

[2017-12-08 09:00] RichardLitt commented on #162
@sotayamashita Is there any way for non-admin's to enable it?

[2017-12-08 09:36] sotayamashita commented on #162
@RichardLitt You it is. You can translate docs if admin invite on GitLocalize.

[2017-12-08 09:43] RichardLitt commented on #162
@sotayamashita I'm not sure I'm seeing how to add it. [On this page](https://gitlocalize.com/repo/new), I'm not seeing k88hudson/git-flight-rules. But I'm not an admin on this repo, just another maintainer, so it may not be possible for you to enable it with my permission set. If it is, though, that would be great.

[2017-12-08 09:51] sotayamashita commented on #162
@RichardLitt You need to ask repository owner to integrate on GitLocalize.

[2017-12-08 15:00] RichardLitt commented on #162
@k88hudson Second ping. :)

[2017-12-16 17:35] flexdinesh opened #173 "Travis CI Integration"
Setting up a build pipeline with TravisCI and linting the markdown during build might help catch lint errors, guidelines overstep and other validations while someone creates a pull request. This way the maintainers will only have to review the content. What ya'll think about this?

[2017-12-17 18:26] RichardLitt commented on #90
Hey all! I've jumped in and started filling out a branch showing how I would like this work to proceed, in #174. If you'd like to help out, jump in, grab a section, and add it!

[2017-12-17 18:27] RichardLitt commented on #173
I think it's a good idea, but I want to be sure that it doesn't cause an issue with Doctoc. If we can ignore that section, or better yet, automatically run it during the Travis CI check, that would be 🎉

[2017-12-17 18:28] RichardLitt commented on #130
@icyflame Any news on this? :)

[2017-12-17 18:29] RichardLitt commented on #85
I believe this is now done.

[2017-12-17 18:29] #85 closed

[2017-12-17 19:42] flexdinesh commented on #173
markdownlint is configurable. I'll work on this setup in a new branch (already have POC in my local branch). Once everything looks good, we can merge.

[2017-12-18 04:23] icyflame commented on #130
Hey @RichardLitt, I am extremely sorry about the delay! I have been completely swamped. I am free now, I will open a patch for this in the next 12 hours. Thanks for the reminder! :slightly_smiling_face:

[2017-12-18 04:26] kanamouru123 commented on #130
https://localbitcoins.com/buy-bitcoins-online/?ch=el7v

On Sunday, December 17, 2017, Siddharth Kannan <notifications@github.com>
wrote:

[2017-12-18 04:52] RichardLitt commented on #130
No rush! Just wanted to check in. :)

[2017-12-18 14:03] #130 closed

[2017-12-18 17:26] k88hudson commented on #162
Oops sorry, I'm on it!

[2017-12-18 17:36] k88hudson commented on #162
Ok, I've added the repository. I'm getting an error code when trying adding moderators/admins though, perhaps you need to give authorize GitLocalize first?

[2017-12-19 05:48] sotayamashita commented on #162
@k88hudson

Yes. they need to signup at GitLocalize first to add them as a moderators.

[2017-12-19 14:59] jpmakangiras commented on #162
@k88hudson May i translate this into bahasa indonesia?

[2017-12-19 15:38] Forbrig commented on #162
I would like to help with the translation to _portuguese-br_!

[2017-12-20 00:16] RichardLitt commented on #162
@jpmakangiras and @Forbrig: that'd be great! @sotayamashita, can @k88hudson make me an admin so that I can add people?

[2017-12-20 00:47] #40 closed

[2017-12-20 01:10] sotayamashita commented on #162
@RichardLitt

Yes. you can do it. :+1:

[2017-12-20 01:12] RichardLitt commented on #162
@k88hudson Try adding me, then. :)  https://gitlocalize.com/repo/598/roles

[2017-12-20 02:39] sotayamashita opened #184 "It is kind of awesome list?"
If it is awesome list, please add these tags below:

-  awesome
- awesome-list
- list

ref: https://github.com/sindresorhus/awesome/blob/master/contributing.md

[2017-12-20 02:41] #184 closed

[2017-12-20 03:12] RichardLitt commented on #184
It's not quite an awesome list. Although I think it could be added there? Feel free to, if you'd like.

[2017-12-21 19:11] k88hudson commented on #162
@sotayamashita I am still getting a 404 error when trying to add `RichardLitt`as an admin, any ideas why that might be happening?

[2017-12-21 22:11] sotayamashita commented on #162
@k88hudson I am sorry. I have added `RichardLittas` as an admin. I will look into it.

[2017-12-21 22:16] RichardLitt commented on #162
@eamanu @jpmakangiras @Forbrig We'll need you to have README files for your languages, first. Let's go!

@qWici Sign up on GitLocalize, please. :) @buslov Added you

[2017-12-21 22:37] sotayamashita commented on #162
@RichardLitt I saw your repository on GitLocalize. It is conflicted. Please see https://docs.gitlocalize.com/how_to_contribute.html#5-resolve-a-conflict If you have any question, feel free to ask me on here or intercom on GitLocalize

[2017-12-21 22:57] RichardLitt commented on #162
Resolving the conflicts seems to require that I link up every section for the entire document, manually. That sounds very lengthy and arduous. Am I missing an easier way?

[2017-12-22 01:44] sotayamashita commented on #162
@RichardLitt

Sorry we do not have :cry:

[2017-12-22 23:14] Forbrig commented on #162
@sotayamashita @RichardLitt

I have forked this repo and addeded it to **Gitlocalize** but when I submit a string I get a warning: "_Content You need to upgrade the plan to translate_". What should I do? (Already have send an email asking for upgrade).

[2017-12-23 00:49] eamanu commented on #162
Hi everybody, I was a little busy at work. I will work in the translation to spanish. @RichardLitt @k88hudson @moisesnandres.

Regards!

[2017-12-23 08:53] qWici commented on #162
@RichardLitt I logged in. You move)
[My profile](https://gitlocalize.com/users/qwici)

[2017-12-23 12:40] sotayamashita commented on #162
@Forbrig You do not need to integrate with forked repository on GitLocalize.

@RichardLitt Could you invite @Forbrig over Gitlocalize?

[2017-12-23 12:51] jpmakangiras commented on #162
@RichardLitt Could you also invite me?

[2017-12-23 13:18] qWici commented on #162
@RichardLitt @k88hudson Also, look what I found. Maybe it will be useful in the future.
https://github.com/facebook/Docusaurus

[2017-12-23 14:50] sotayamashita commented on #162
@jquintus I think Docusaurus is very good but it is too much for it.

[2017-12-23 15:15] buslov commented on #173
How about auto-checking translated files?

[2017-12-24 20:07] wviana commented on #162
I would like to help @Forbrig translating into PT-BR.

We should add an how to translate in the beginning of README.

[2017-12-24 22:45] sotayamashita commented on #162
@wviana I have added the description on CONTRIBUTING.md. De we need to do it too?

[2017-12-25 02:38] Forbrig commented on #162
@sotayamashita

Maybe add some steps between item _2._ and _3._ about contacting the moderator (maybe @RichardLitt  if he don't mind) to be invited to the repo on **gitLocalize**. Showing the info that I misunderstood and avoiding that this issue become a chat...

[2017-12-27 10:02] aloisdg commented on #162
I started a fr translation: https://github.com/k88hudson/git-flight-rules/pull/189

[2017-12-27 11:44] eamanu commented on #162
@k88hudson  @RichardLitt I need you that open me a spanish README in GitLocalize for me

[2017-12-27 12:48] qWici commented on #162
@aloisdg do not forget generate menu with DocToc

[2017-12-27 15:07] RichardLitt commented on #162
@eamanu done
@sotayamashita - spelling error:
<img width="432" alt="screen shot 2017-12-27 at 10 03 28" src="https://user-images.githubusercontent.com/910753/34384928-3b08867e-eaed-11e7-9276-94863072a86b.png">

Adding me as a step works for me. 👍

[2017-12-27 15:52] Forbrig commented on #162
@RichardLitt Can you invite me and add a _pt-br_ Readme file?

[2017-12-27 16:32] RichardLitt commented on #162
Done.

In the future, hit me up on gitter.im or by email, to keep notifications down. Let's add this to the CoC.

[2017-12-27 16:35] eamanu commented on #162
@RichardLitt when I try to translate, gitlocalize say me: Content `You need to upgrade the plan to translate`. and don't save the translation

[2017-12-27 17:11] Forbrig commented on #162
Same here, @sotayamashita can you help us?

[2017-12-27 20:02] sotayamashita commented on #162
@RichardLitt Is it possible?

I can give you our free OSS plan if you can follow these conditions:

- The OSS projects should be non-profitable
- Up to 5 repositories
- Put a note that GitLocalize is used for a localization and its project link on README.md
- If you have a website for a project, put a GitLocalize logo onto the site

[2017-12-28 07:41] jpmakangiras commented on #162
@RichardLitt can you invite me and add id Readme file on Gitlocalize?

[2017-12-29 02:12] RichardLitt commented on #162
@sotayamashita We do that - it's only this repo, which is only OSS, no website yet, and which has no monetary incentive. Happy to add a link.

[2017-12-29 02:33] sotayamashita commented on #162
@RichardLitt Thanks. I will create the PR.

[2017-12-29 14:04] llrt opened #192 "Snippet to customize git-log output"
Could you please include some snippets related to customizing git-log output ?

[2017-12-29 14:05] llrt opened #193 "Snippet to list commits containing an specific file"
Could you please include a snippet for listing an specific file's commit?

[2017-12-29 14:20] RichardLitt commented on #193
Sounds like a good idea for me.

[2017-12-29 15:54] llrt opened #194 "Snippet to list changes (diff) of a specific file between two commits (or branches)"
Could you please add a snippet to list changes (diff) of an specific file between two commits (or branches)?

[2017-12-30 17:46] llrt commented on #193
@RichardLitt I have a proposed change to address this. Shall make a pull request soon.

[2017-12-30 17:57] #193 closed

[2017-12-30 23:21] carusogabriel commented on #192
@llrt You mean colors, struct and so on?

[2017-12-30 23:52] fhavrlent commented on #194
Please check my PR, first time contributing, so I guess I did something wrong 😬.

[2018-01-10 19:07] buslov opened #204 "Are necessary any implicit changes made by GitLocalize?"
GitLocalize adds some changes when making a pull-request:
* Replaces * by - in lists
![image](https://user-images.githubusercontent.com/33098513/34785786-35aeb548-f643-11e7-9613-90327ebd7317.png)
* Extra empty lines
![image](https://user-images.githubusercontent.com/33098513/34787850-c9c68b38-f649-11e7-9f6d-de746ffebcf0.png)
* Completely breakes TOC's links
![image](https://user-images.githubuserc

[2018-01-11 14:06] RichardLitt commented on #204
@sotayamashita these changes seem out of scope for a translation engine. Are they necessary?

[2018-01-11 15:00] sotayamashita commented on #204
@RichardLitt  GitLocalize change some markdown following flow. We parse markdown and convert it into HTML to translate. After translating, we convert HTML to markdown based on [commonmark spec](http://commonmark.org/). we understand that issue but it will rendered same before.

What do you think?

[2018-01-11 15:03] RichardLitt commented on #204
Good to know. You're right, most of these are superficial. However, the TOC changes aren't - as far as I know, they will break the links. @buslov can you confirm this?

[2018-01-11 19:17] buslov commented on #204
@RichardLitt, you are right. I suppose that GitLocalize just copies links from English source. We could add some tests (#205) to Travis CI to prevent any merges with broken links.

[2018-02-05 15:48] Forbrig commented on #162
@sotayamashita I can't edit others submissions, I always get "Content seems not same as original content". I'm the moderator of that pt-br translation, can you help me?

[2018-02-07 08:33] deepakgangwar opened #207 "Remove big files from git history"
Sometimes very big files are committed and can not be pushed any commit due to this previous commit so steps to remove such files and changing the git history should be included.
Either the native git commands or [bfg](https://github.com/rtyley/bfg-repo-cleaner) will be a good option.

[2018-03-03 01:18] coder1995 opened #209 "Adding new language on gitlocalize"
How could I add a new language on gitlocalize?
I wanna translate this document into Korean.

[2018-03-07 03:57] RichardLitt commented on #209
@coder1995 I've added you on GitLocalize. You should be all set up to use it now (I think?).

[2018-03-17 04:50] coder1995 commented on #209
thanks!!

[2018-03-17 04:50] #209 closed

[2018-05-14 16:35] RichardLitt commented on #90
Closing as this is old. If anyone wants to jump in and add more commands from the cheatsheet, feel free!

[2018-05-14 16:35] #90 closed

[2018-05-14 16:49] RichardLitt commented on #207
I agree! A PR for this would be great. :)

[2018-06-12 20:09] Cinderhaze opened #211 "Default README file under different git-hosts"
We have a mirror of git-flight-rules hosted on an internal gitlab server, and it picks the 'first' README* file, which selects `README-es.md` over `README.md`.

Is it possible to have all the translations follow the standard of `README_ru.md` or `README_zh-CN.md`, which will leave the `README.md` as the default display in the repository?

Also related - the `README-es.md` file isn't linked from th

[2018-06-14 14:35] RichardLitt commented on #211
I'm pretty sure this can be closed now. Glad you're getting mileage out of this list!

[2018-06-14 14:35] #211 closed

[2018-08-28 18:05] Dagnan opened #214 "git apply patch to the rescue (question)"
Hi,
I have a question: I've seen cases where a PR is really bad in terms of merging master multiple times, with commits before, in between etc. The kind of PR you want and should rebase, but it's really hard because of these merges.
In this case you can generate a patch, and then apply it on a new branch, to get the exact copy of your old branch, but less messy.

Is there anything in this guide th

[2018-08-29 14:50] RichardLitt commented on #214
I don't think we have that usecase yet. I would suggest adding it in a PR! This makes sense to me.

[2018-10-10 02:40] ramiro opened #216 "Section "Stash specific files" wrong?"
There is no `push` `git stash` sub-command so the two examples under this section

[code]

[code]

don't work.

[2018-10-10 10:48] ramiro commented on #216
Sorry! I get an usage error message from my (older) git installation and didn't spot `push`is actually listed in the current docs at https://www.git-scm.com/docs/git-stash even when actually looking for it.

Sorry for the noise and wasting your time.

[2018-10-10 10:48] #216 closed

[2018-10-10 22:13] RichardLitt commented on #216
No worries. :) We should add a note about what git version we're using for these commands.

[2018-10-17 14:15] dcchambers opened #222 "Add a guide for pushing branches and tags that share the same name."
If you have a tag and branch with the same name in a remote repository and try a regular `$ git push <remote> <branch>` command you'll get the following error:

[code]

[2018-10-17 18:26] splitcircle opened #225 "Other useful git commands"
First and foremost, thanks for making this guide! I have two git aliases that I use that I think may be of use here. Let me know if they fit, and if so I can make a PR to add them!

Delete all remote branches that have been merged in:
```delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --q

[2018-10-18 09:04] IrvanFza commented on #162
Hi @k88hudson @jpmakangiras ... I would like to help too for Bahasa Indonesia translation. Can you add me to GitLocalize repo?

[2018-10-18 13:10] cmccandless opened #230 "Deploy to GitHub Pages with Travis-CI"
As primary content of this repository is, this is an excellent candidate for using GitHub Pages.

Benefits:
- Optional theme
- Faster load time
  - No need to load GitHub site itself
  - Markdown is pre-rendered as HTML

See the following links for details on setup (automatic deployment will require maintainer action)
- [GitHub Pages documentation](https://pages.github.com/)
- [Travis deployment t

[2018-10-19 06:10] sotayamashita commented on #162
Hi forks.

GitLocalize is unfortunately reaching its end of service soon.

[2018-10-19 08:44] qWici commented on #162
@RichardLitt @k88hudson

Migrate to Crowdin?)

[2018-10-20 07:07] QzSG opened #234 "Add a guide for users who accidentally commit and pushed sensitive files"

[2018-10-22 07:32] 123survesh commented on #230
Hi I would like to work on this issue. I will update here once I have some progress :smiley:

[2018-10-22 09:19] RichardLitt commented on #162
Thanks, @sotayamashita, for all of your work.

CrowdIn makes sense for me.

[2018-10-22 18:31] Pedro-Mendes commented on #162
Hey @Forbrig is the brazilian portuguese translation still in development? I'd like to participate too! How can I help?
@wviana @RichardLitt

[2018-10-22 19:15] Forbrig commented on #162
Sure @Pedro-Mendes lets resume when it migrate to CrowdIn, you are welcomed to join!

[2018-10-23 06:45] MuratGundes commented on #162
Hello guys. I'd like to help with the translation to Turkish.

[2018-10-23 09:56] RichardLitt commented on #162
I've submitted a request to CrowdIn for a free project for this repo. I'll follow back up when I hear back.

[2018-10-23 10:13] outfire1001 commented on #230
Need to know about any other solutions

[2018-10-23 11:05] RichardLitt commented on #162
@k88hudson Looks like you need to enable it, not me. Can you sign up for CrowdIn and then enable the integration?

[2018-10-23 17:05] dustinfreeman commented on #207
I did a writeup of this exact problem here, when migrating away from git-lfs, using bfg:

https://dustinfreeman.org/blog/rip-lfs/

[2018-10-24 08:05] #222 closed

[2018-10-24 08:07] RichardLitt commented on #234
Good suggestion.

[2018-10-24 08:18] RichardLitt commented on #225
Works for me! I use a similar command for the first one, too, but I hadn't seen the last. Add the aliases? :)

[2018-10-24 08:55] deiga commented on #225
The second alias makes more sense to be written as: `day = log --reverse --no-merges --branches=* --date=local --since=midnight --author=\"$(git config --get user.name)\"`

- Git doesn't need to subshell for git commands :)
- `--since=midnight` is more timezone friendly, not all places use AM and PM

[2018-10-24 12:28] ChrisCallanJr commented on #225
@deiga good to know! I'll use that as the alias I add, thank you!

[2018-10-26 01:13] mxnavid commented on #234
Is anyone working on it? I can start working on it!

[2018-10-28 18:40] 123survesh commented on #230
Hi,
I am new to this, can someone tell me if I am doing things right? This is what I have done so far.

I added the following code to travis.yml
[code]
I have been testing this process on my forked repo using travis CI. Travis CI needs a `personal access token` for the repository we are doing deployment for.
Now every time I run make a push, Travis CI executes  the yaml file and creates a build.

[2018-11-06 23:00] dustinfreeman commented on #234
This should be closed now that #242 has been closed yeah?

[2018-11-07 16:47] #234 closed

[2018-11-28 14:16] RichardLitt commented on #173
@flexdinesh Still interested in working on this?

[2018-11-28 14:17] RichardLitt commented on #192
Let's assume that is what @llrt meant. Any PRs for this would be great.

[2018-11-28 14:18] #194 closed

[2018-11-28 14:21] RichardLitt commented on #225
If anyone wants to add these aliases into the document, feel free to do so. Then we can close this out. :)

[2018-11-28 15:09] flexdinesh commented on #173
@RichardLitt Sorry man, I don't think I could get to this now.

On other news, this is still my most favourite repo and I've been working on something slowly on the side for the past few months based totally off this repo. 🎉

[2018-11-28 15:54] RichardLitt commented on #173
No worries. Looking forward to seeing what you're building. :)

[2018-11-28 15:54] #173 closed

[2018-11-29 11:43] luminousnine commented on #173
I'd like to mute these notifications.

Nov 28, 2018, 5:09 PM by notifications@github.com:

[2018-11-29 16:28] #225 closed, assigned to nobody

[2018-12-13 22:51] llrt commented on #192
I'm sorry for being absent for so long. I meant things like colors, pretty formatting, simple graph history of commits, files changed, authors, etc

Good refs on this topic is :
https://git-scm.com/docs/pretty-formats
https://medium.com/the-andela-way/exploring-the-git-log-command-9117b9ff3c2c

Both are good refs but exceedingly comprehensive; we should have simpler yet pleasant customized log sni

[2019-01-28 13:40] DanielRuf opened #264 "Failing CI"
CI is currently failing, see https://travis-ci.org/k88hudson/git-flight-rules/builds/466622713

[2019-01-30 08:11] #264 closed

[2019-04-16 18:44] tigertv opened #267 "Broken link"
I've noticed that the link for the guide for astronauts is not working.
https://www.jsc.nasa.gov/news/columbia/fr_generic.pdf

It says "404 page not found"

[2019-04-18 13:01] diegogsann opened #268 "Add fork subject"
- I want to fork a repository (maybe explain why this is useful)
- I want to update my forked repository with original repository changes
- I want to send my changes to original repository

also, main topic could be 'contributing with others' or 'how to contribute to other git repositories'.

will be nice if someone bring other ideas to complement this suggestion. what you, guys, think about that?

[2019-05-28 14:22] RichardLitt commented on #268
I think this is a great idea. I'd be happy to look at a PR for this. What you have here is a great start; no need to wait for more.

[2019-05-28 14:24] RichardLitt commented on #267
Sounds like we should link to something else. Or just remove it?

[2019-05-31 11:42] lucasMesquitaBorges opened #272 "Contributing Guide"
I would like some general contributing guide, almost every topic of flight rules it's about technical doubts.
How I'm starting with GitHub recently, i never now how to start contributing to some repository that i'm interesed.
I know that every repository has they own rules and patterns of coding and this isn't the problem, but how i'm not already a contributer from that repository, how could I sta

[2019-06-01 20:41] dustinfreeman commented on #268
Definitely should include a clear description of why forking a repo is something you'd do!

[2019-06-01 20:42] dustinfreeman commented on #207
@deepakgangwar check out #249

[2019-06-04 00:10] diegogsann commented on #272
@lucasMesquitaBorges probably we can do it in #268
i am opening a new pull request now. we can enhance it.

[2019-06-05 14:53] RichardLitt commented on #207
Close by #249. :)

[2019-06-05 14:53] #207 closed

[2019-06-05 19:21] lucasMesquitaBorges commented on #272
@diegogsann PR #274 is very good. I don't know if is exclusivity of flight rules being more technical than conceptual, but would be nice add tips explaining repositories that has roadmaps and other contributing flow. A flight rule topic related to something like "General Flow of Github Contributing"
I don't know if is just obvious, but wasn't for me at beginning.

If you believe this type of conte

[2019-06-07 05:21] deepakgangwar commented on #207
Thank you @dustinfreeman and @RichardLitt

[2019-06-19 10:22] #267 closed

[2019-06-19 10:25] RichardLitt commented on #272
@lucasMesquitaBorges You have some really good points here. I think that what you're looking for would be awesome! And there are resources like this. For instance, https://opensource.guide/

Unfortunately, this probably isn't the best place for this. This is for how to use Git, not GitHub. These are two different things. Git is the software that powers GitHub; GitHub is the community that uses the

[2019-06-19 10:25] #272 closed

[2019-06-19 10:25] RichardLitt commented on #268
This is being solved in #274 and #275.

[2019-06-19 10:26] RichardLitt commented on #192
I think the best person to do this is probably you. :) Feel free to PR something.

[2019-06-19 10:26] #192 closed

[2019-06-19 10:27] RichardLitt commented on #214
I'd also be curious to see how to make a patch and apply it using Git, _without using GitHub's concept of forking and pull requests_, which are really opinionated Git maneuvers.

[2019-06-20 09:41] #268 closed

[2019-06-20 09:41] RichardLitt commented on #268
Thanks for all the help, @diegogsann!

[2019-06-20 09:41] RichardLitt commented on #230
@k88hudson Are you still interested in maintaining this repository?

[2019-06-20 12:40] cmccandless commented on #230
I went ahead and forked this repo and [deployed it myself](https://cmccandless.github.io/git-flight-rules). I have not and will not modify any of the content, and plan to delete my fork when/if this repo deploys.

[2019-06-20 13:06] RichardLitt commented on #230
Looks good to me! Hopefully we can deploy it too. I would, but I don't have access at the moment.

I'd encourage anyone who wants to see this content to check out firstaidgit.io, too. A beautiful website made by my friend Ricardo that also has this content.

[2019-06-20 15:51] Dagnan commented on #214
I actually had to do that this week. It's pretty basic: on your messed up branch, do `git diff master..head > foo.patch`, then create a new branch off master and do `git apply foo.patch`.

I haven't looked at how to create a pull-request for this project though.

[2019-06-22 07:16] RichardLitt commented on #214
Huh, cool. If you want to add a section on this, I'd love to see it. :)

[2019-07-31 18:39] vanceism7 opened #276 "Rebase from squashed merge"
Where I work, we've started a general policy to always squash merge our PRs. Sometimes I base new feature branches on unmerged PRs, and once those PRs are squash merged, it makes rebasing my feature branches back onto the master branch a bit more difficult.

Luckily I found this link which remedies the problem pretty well:
https://makandracards.com/makandra/45964-git-rebase-dependent-feature-branc

[2019-08-07 04:18] glandium opened #277 "Removing changes to a file from the previous commit"
This is what the current README has:
[code]

This has the disadvantage of reverting the change entirely.

Another option is to use:
[code]

which is one less command, *and* preserves the changes to the file in the working tree, while removing it from the commit.

[2019-09-02 04:13] YaaMe opened #284 "git stash apply"
I think it can use
`git stash apply` command (`stash history` is a stack)
instead of [switch stash](https://github.com/k88hudson/git-flight-rules#i-want-to-stage-my-unstaged-edits-and-unstage-my-staged-edits)

And I suggest to use [magit](https://github.com/magit/magit) or [Fugitive](https://github.com/tpope/vim-fugitive) or something else command tools bind on editor.So that you can avoid recitin

[2019-09-06 16:25] RichardLitt commented on #162
@Forbrig No updates from me. I'm waiting on @k88hudson.

[2019-09-06 16:26] RichardLitt commented on #284
Where do you mean?

As far as `git stash apply` - PRs always welcome. :)

[2019-09-06 16:26] RichardLitt commented on #277
Good point. PR welcome!

[2019-09-06 16:26] RichardLitt commented on #276
Sounds good to me! Labelled this accordingly, hope someone else takes it up.

[2019-09-09 00:53] YaaMe commented on #284
They maybe in part [tools](https://github.com/k88hudson/git-flight-rules#scripts-and-tools) I'm a emacs user so not sure what's the best choice in vim & vscode.
I notice `magit` use `git stash apply` to handle that case,I will check it at my free time.

[2019-09-09 00:53] #284 closed

[2019-10-17 23:31] SamPenrose opened #288 "I squashed a PR update onto the PR's commit"
(Parts of this one are implicit in the Flight Rules, but I didn't recognize them.)

[2019-10-19 12:35] RichardLitt commented on #288
Sounds like a good addition, to me! Want to make a PR for this?

[2019-11-13 19:35] ot-brad-schneider opened #291 "The "Add Code" section seems misleading"
The section under "I want to add code to someone else's repository" opens immediately with "Git doesn't allow you to add code to someone else's repository without access rights." This is misleading as git is inherently distributed and easily allows you to push changes in your repository to any other repositories. The access issues are a very real practical concern, but that is entirely due to perv

[2020-01-11 06:59] simaki opened #293 "Adding Japanese version"
Thanks a lot for such a nice project!  This is amazingly helpful.

I'd like to contribute by translating it into Japanese.
Could you add Japanese on GitLocalize?

[2020-05-04 06:36] #293 closed

[2020-06-12 09:09] etomzak opened #296 "Undoing a keep reset the same as undoing a hard reset"
Best I can tell, "I accidentally did a `--keep` reset, and I want my changes back" has the same answer as the existing [I accidentally did a hard reset, and I want my changes back](https://github.com/k88hudson/git-flight-rules#i-accidentally-did-a-hard-reset-and-i-want-my-changes-back). I could be missing some minor git details, though.

If the answer *is* the same, I'm happy to make a PR to exten

[2020-06-15 14:36] RichardLitt commented on #296
Where is the answer to "I accidentally did a --keep reset, and I want my changes back"? I don't see it in the doc.

[2020-06-15 14:38] RichardLitt commented on #291
Thanks. You make a good point. I think a PR would be great, with the language you describe here.

[2020-06-15 14:38] RichardLitt commented on #288
Ping @SamPenrose

[2020-06-15 21:26] etomzak commented on #296
That's what I mean: "I accidentally did a --keep reset, and I want my changes back" is not in the doc, but it would be helpful to have it in the doc. If it were in the doc, then I'm pretty sure the answer would be the same as the answer to "I accidentally did a hard reset, and I want my changes back" (which is already in the doc).

One option would be to extend the wording of the existing "hard" q

[2020-06-15 22:36] RichardLitt commented on #296
I would just add a line to the section saying that "this also works if you accidentally ...". That should make it serchable.

Sounds like this would be a fun thing to find out! Would you like to look into it, and submit the changes in a PR?

[2020-06-22 16:13] RichardLitt opened #298 "Add more questions that are impossible"
There's no reason we can't have answers for questions that aren't possible - for example, "Can I amend a commit while keeping the hash the same?"

This thought was inspired by [this post](https://questions.wizardzines.com/git-commits.html).

[2020-09-02 09:46] kigiri opened #300 "Suggestion to add GitUI to the list of gui clients"
Git terminal GUI have done some improvements on the work layed out by tig.

[Lazygit](https://github.com/jesseduffield/lazygit) and [GitUI](https://github.com/extrawurst/gitui) are good outcome of terminal GUI for git.

I can do a PR for French and English if you are ok with it :)

- https://github.com/jesseduffield/lazygit
- https://github.com/extrawurst/gitui

[2020-09-09 14:42] MajedBojan opened #304 "Adding README_ar.md"
Hi, Thank you for maintaining the project, I am looking to support Arabic doc

[2020-10-03 00:38] RichardLitt commented on #304
@MajedBojan Awesome! PRs accepted. :)

[2020-11-28 18:59] ceuk commented on #214
Hey guys, just adding a +1 that I was a bit surprised that the definitive solution to contributing code seems to be "go to Github/another similar site and create a PR".

Obviously, this is by far the most common/modern method, but might be worth having something on git format-patch/am/send-email too? Those are the intended/git native tools to facilitate code sharing after all.

[2020-11-30 04:30] simaki opened #308 "Renaming from `master` to `main`"
GitHub [plans to rename](https://github.com/github/renaming) the default branch from `master` to `main`.

The default branch name for new repositories is now `main`.
GitHub will provide tools to seamlessly switch the name of default branches of the existing repositories to `main`.

So I think it would be more convenient to replace `master` in our README with `main`.

[2020-11-30 05:22] simaki commented on #308
I made a pull-request.

Thank you so much for a nice project!

[2020-12-01 14:45] RichardLitt commented on #308
Thank you for noticing and for doing this work. I appreciate it.

[2020-12-01 14:45] #308 closed

[2020-12-04 23:28] opeerator commented on #162
Hey there @RichardLitt I think It wouls be cool to add Farsi as well

[2020-12-04 23:54] RichardLitt commented on #162
Ping @k88hudson.

[2020-12-05 00:22] qWici commented on #162
Whoa, this issue is still open. When I created it, I didn't think the discussion would last for 3 years. But it would be cool if we did get it over with.

[2020-12-05 00:30] RichardLitt commented on #162
Same. I've tried pinging Kate elsewhere a few times. Not sure what else to do, short of forking this.

[2021-01-16 02:39] simaki opened #310 "Renaming the default branch from `master` to `main`"
Git and GitHub plan to rename the default branch from `master` to `main`.

So it would be more convenient to rename our default branch name to `main` for those who visit here.
Also, it is consistent with our README where default branch names are shown as `main`.

The repository owner can rename it as described in "[Renaming existing branches - GitHub/renaming](https://github.com/github/renaming#re

[2021-01-25 15:07] HorseLord-Abrek commented on #162
Greetings, if translation process is still ongoing I can contribute to Turkish translations. As far as I can see there are no mods for Turkish so I can take the role.

[2021-01-25 15:17] RichardLitt commented on #162
Works for me!

[2021-01-25 15:20] HorseLord-Abrek commented on #162
One thing is, "Add Language" button won't show at GitLocalize. Should I fork the project and create a pull after I conduct translation myself or can you add the Turkish option to this repo's GitLocalize page?

[2021-01-25 15:23] RichardLitt commented on #162
I've added you as the moderator for that language. :) Try now?

[2021-01-25 15:28] HorseLord-Abrek commented on #162
Yup, right now I can see myself registered as moderator but file seems to be corrupted, it says translation is 100% and when I try to reach it, it gives 404 error.

[2021-01-25 15:31] RichardLitt commented on #162
Not sure what to do, there. @sotayamashita Am I right that Gitlocalize is no longer being updated? Is there a way to pay you for your help?

[2021-01-25 17:36] HorseLord-Abrek commented on #162
I will be waiting to see if there's a solution and if not I can find an alternative way. Both ways I am pretty eager to translate it into Turkish so it's no problem :) Thanks for your time.

[2021-01-25 20:08] qWici commented on #162
@RichardLitt
Why did we give up Crowdin? You can apply for a [free license for open source](https://crowdin.com/page/open-source-project-setup-request)

[2021-01-25 20:19] RichardLitt commented on #162
See https://github.com/k88hudson/git-flight-rules/issues/162#issuecomment-432202030.

[2021-01-26 17:47] RichardLitt commented on #310
@k88hudson I don't have permissions to do this, but I think it'd be a good idea.

[2021-01-27 09:23] HorseLord-Abrek commented on #162
It seems there is no response so I will start working on the file offline with my own translation tool, is it okay to proceed that way @RichardLitt ?

[2021-01-27 11:43] RichardLitt commented on #162
A day may be a bit short. I would wait a week or two. You’re free to start
translating now, though!

On Wednesday, January 27, 2021, Abrek Koç <notifications@github.com> wrote:

[2021-02-25 13:18] lbcnz opened #312 "There's no section "I want to add command line coloring for Git""
It's in the table of contents but the section does not exist.

[2021-02-25 14:17] RichardLitt commented on #312
Good catch. Updated ToC and removed this entry. Not sure what happened there.

[2021-02-25 14:17] #312 closed

[2021-03-09 17:02] ruijpbastos opened #313 "Adding "How to split a branch in two" flight rule"
I think it would be good to add a solution to split a branch into several branches, for the case where a lot of commits where added to a single branch but we now want to have them in different branches.

[Like this.](https://stackoverflow.com/a/28983843/7554194)

It's not exactly something that is recommended, but it can save people from some trouble (lets just say I know this from experience). I'

[2021-03-11 02:31] RichardLitt commented on #313
Sounds like a good rule to me. PRs accepted.

[2021-03-18 08:52] ruijpbastos commented on #313
Created PR #314 .

[2021-03-18 12:42] #313 closed

[2021-06-10 22:39] VietThan opened #316 "General process for translations"
Hi,

I want to first thank @k88hudson and @RichardLitt for the wonderful work (and any other maintainers for this project). I can see that the translation projects are going strong and want to contribute to my mother tongue Vietnamese. I do have a general question about the process:
1. Is there any process to apply to be the maintainer for a specific language? What are the powers of a translation

[2021-06-11 03:20] VietThan commented on #162
Just putting here the Crowdin requirements:

2. The project is licensed under an approved license from an open-source initiative.
3. Your project's source code is publicly available for download.
4. You do not have any commercial products related to the open-source project you are requesting a license for.
5. You are the project lead.
6. You have been working on your open-source project for at lea

[2021-06-11 13:29] RichardLitt commented on #316
Hey @VietThan. Thanks for the thanks.

There's no process. Right now, I think we're just using the standard PR process. There are no extra rights or powers given to a translator at the moment. If there are any issues in any translation, simply edit them locally and then submit a PR with the changes. All updates should be submitted to the main branch. Unfortunately, we don't have a way of showing t

[2021-06-11 13:31] RichardLitt commented on #162
Yeah. I also can't do anything at the moment as far as submitting it to Crowdin.

[2021-06-11 13:36] HorseLord-Abrek commented on #162
In fact I uploaded it to Crowdin as a private project and started working on it, because of the excessive workload I could not finish it yet but still got some progress.

[2021-06-11 15:27] VietThan commented on #316
Thanks for the answers! These are all fine and I understand the situation. I do want to ask if maybe at least the Vietnamese branch can do our own keep check of tracking? like probably a chunk through comments at the beginning of the file?

[2021-06-11 16:39] RichardLitt commented on #316
I wouldn't mind that. Go ahead. :)

Closing this as not actionable. Feel free to reopen with more questions if you've got em.

[2021-06-11 16:39] #316 closed

[2021-06-12 00:37] qWici commented on #162
@RichardLitt maybe you can make fork of this project and add to Crowdin. After that we can just merge updates to origin repo.

[2021-06-12 12:32] RichardLitt commented on #162
I don't want to take on that extra responsibility. Happy to merge updated translations, though.

[2021-06-16 15:04] RichardLitt opened #317 "How do you add entire files using `git add -p`?"
I want to be able to select file to add using `git add -p`, instead of chunks. In other words, I want to cycle through the files which have changed to staging, without having to cycle through each chunk in those files.

Not sure how to do this, but probably a nice thing to add to this list.

[2021-10-28 17:12] yesnoruly opened #332 "Add a back to top button"
I suggest adding a return to content button for each rule item for a greater reading experience.

![Screenshot_5](https://user-images.githubusercontent.com/64963734/139303114-52974fd7-ed78-4c32-a866-bde5db4f7570.png)

[2021-10-31 09:37] RichardLitt commented on #332
Thanks. I personally don't like these, though. I find them distracting to the reading experience.

[2021-10-31 09:37] #332 closed

[2021-11-05 13:48] jfmatth opened #333 "Wow - Thank you for this repo"
Very cool, thank you.

Please close after you read this :)

[2021-11-05 15:55] RichardLitt commented on #333
You're welcome. :)

[2021-11-05 15:55] #333 closed

[2022-10-13 04:39] Rahulmeenagithub opened #338 "Hy"

[2022-10-13 15:26] #338 closed

[2022-10-14 07:55] Rahulmeenagithub commented on #338
Who are you

[2022-11-29 12:36] ericfeunekes opened #340 "Moving a change from one commit to another"
I ran into an issue recently where I made a commit (c1) that included too many files. I had another commit (c2) where I wanted to move one of the files from c1. I didn't find something that would resolve this issue in the flight rules, but did in [SO](https://stackoverflow.com/a/54985304/2491502). Is it worth adding this solution to the flight rules?

[2022-11-30 05:05] RichardLitt commented on #340
Yes!

[2022-11-30 22:03] ericfeunekes commented on #340
On it